@using Blog.Common.Model.Dto
@using Blog.Common.Model.ViewModel

<div class="container p-3 my-3 border rounded bg-light">
    <div class="row align-items-center">
        <div class="col-sm-2">
            @PostModel.UserName
        </div>
        <div class="col-sm-2">
            <b Style="@($"color:#6082B6;")">@PostModel.PostTitle</b>
        </div>
        <div class="col-sm-3">
            @PostModel.PostDetails
        </div>
        <div class="col-sm-2">
            @foreach (var tag in PostModel.TagsList)
            {
                <MudButton Variant="Variant.Text" Color="Color.Info" href="@tag">@tag</MudButton>
            }
        </div>
        <div class="col-sm-1">
            <MudButton Variant="Variant.Filled" Style="@($"color:#E5E4E2;background-color:#7393B3;")" href="@($"/posts/details/{PostModel.BlogID}/{PostModel.PostID}")">details</MudButton>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public PostModel PostModel { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine($"PostItem Initialized - PostID: {PostModel.PostID}");
        base.OnInitialized();
    }
}